<!-- <head>	 -->
{% block head_include %}
<link rel="stylesheet" href="../assets/css/user.css" />
{% endblock %}
<!-- </head > -->
{% include "templates/includes/_navbar.html" %}
<!-- <body> -->
<div class="py-5 container">
	<p class="align-center cart_available">Cart is Empty</p>
	<div class="cart_table">
		<table class="table ">
			<thead>
			<tr>
				<th scope="col">Actions</th>
				<th scope="col">Id</th>
				<th scope="col">Product Name</th>
				<th scope="col">Product Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Amount</th>
			</tr>
		</thead>
		<tbody class="cart-body">
			
		</tbody>
	</table>
	
	<div class="d-flex justify-content-between">
		<p>Your Total Amount is: <span class="total_amount"></span></p>
		<button class="btn btn-primary pay-btn" data-cart="{{cart}}">Pay</button>
	</div>
</div>
</div>
<!-- </body> -->
<script>
    $(document).ready(function () {
        var agriuser = JSON.parse(localStorage.getItem("agriuser"));
        console.log(agriuser);

        if (!agriuser.isLoggedIn) {
            window.location.href = "/users/login";
            return;
        }

        function deleteRow(itemId) {
            $.ajax({
                type: "DELETE",
                url: `http://agri-app.localhost:8002/api/resource/Cart/${itemId}`,
				headers:{
					"X-Frappe-CSRF-Token":"c4bb18b041bcf294aa174632ee63b90d30c7585ea5c31c9dea91fa9f"
				},
                success: function (response) {
                    alert("Item Deleted");
                    console.log(response.message);
                    $(`tr[data-order-id="${itemId}"]`).remove();
					window.location.reload()
                },
                error: function (xhr, status, error) {
                    alert("Error Deleting the item");
                    console.log(error);
                },
            });
        }

        $(document).on("click", ".deleteButton", function () {
            var orderId = $(this).data("order-id");
            deleteRow(orderId);
        });

        $.ajax({
            type: "GET",
            url: "http://agri-app.localhost:8002/api/method/agriapp.agriuser.fetch_cart",
            data: {
                user: agriuser.user.userId,
            },
            success: function (response) {
                const cart = response.message;
                console.log(cart);
                var totalAmount = 0;
                if (cart.length === 0) {
                    $(".cart_table").hide();
                    $(".cart_available").show();
                } else {
                    $(".cart_available").hide();
                    $(".cart_table").show();
                }

                cart.forEach(function (cartItem) {
                    var row =
                        "<tr data-order-id='" + cartItem.name + "'>" +
                        "<td><a role='button' class='deleteButton btn btn-light' data-order-id='" + cartItem.name + "'>🗑️</a></td>" +
                        "<td>" + cartItem.order_id + "</td>" +
                        "<td>" + cartItem.ordered_product_name + "</td>" +
                        "<td>" + cartItem.ordered_product_price + "</td>" +
                        "<td>" + cartItem.ordred_quanity + "</td>" +
                        "<td>" + cartItem.total_amount + "</td>" +
                        "</tr>";
                    $(".cart-body").append(row);
                    totalAmount += parseInt(cartItem.total_amount);
                });
                $(".total_amount").text(totalAmount);
            },
            error: function (xhr, status, error) {
                alert("Error fetching cart: " + error);
                console.log(error);
            },
        });

        $(".pay-btn").click(function () {
            var cart = $(this).data().cart;
            if (cart.length === 0) {
                return;
            }

            try {
                $.ajax({
                    type: "GET",
                    url: "http://agri-app.localhost:8002/api/method/agriapp.agriuser.pay_products",
                    data: {
                        user: agriuser.user.userId,
                    },
                    success: function (response) {
                        alert("Payment Successfully completed!");
                        console.log(response.message);
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert("Error processing payment: " + error);
                        console.log(error);
                    },
                });
            } catch (err) {
                console.log(err);
            }
        });
    });
</script>

